ul {
    list-style-type: none;
    border: 5px outset;
    margin-right: 80%;
    padding-left: 0;
    padding-right: 0%;
    
}
ul, li{
    display: inline-block;
    
    
}
body {
    display: inline;	
}
aside {
    border: 5px inset;
    margin-right: 85%;
    margin-bottom: 1%;
}