ul {
    list-style-type: none;
    border: 5px outset;
    margin-right: 0%;
    padding-left: 0;
    padding-right: 0%;
    /*display: inline-block;*/ 
}

ul, li{
    display: inline;
}

aside {
    border: 5px inset;
    margin-right: 65%;
    margin-bottom: 1%;
}

.flex-container {
    display: flex;
    flex-direction: row;

}
p {
    display: inline;
    margin-right: 8%;
    margin-left: 3%;
}
